<%- include('includes/head') %>
<body>
    
    <section class="container">
        <h1>
            
            <% numeros.forEach(n => { %>
                <%= umaVariavelLocal %><br>
            <% }); %>
            lorem normal
        </h1>

        <form action="/" method="post">
            <label for="">Cliente: 
                <input type="text" name="cliente" id="">
                <button>Submit</button>
            </label>
        </form>
    </section>

<%- include('includes/footer') %>